/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
  background-image: url(/illustration/草原.webp);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
