/* ------- */
/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
/* ------- */

/* ------- */
svg.icon {
  width: 1.28em;
  height: 1.28em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* ------- */

/* ------- */
/* 个人信息卡片背景图 */
[data-theme='light'] #aside-content > .card-widget.card-info {
  background-image: url(/illustration/草原.webp);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
/* ------- */

/* ------- */
/* tzy页脚样式 */
#ft {
  max-width: 1200px;
  margin: 0 auto 12px;
  display: flex;
  color: rgb(255 255 255 / 80%) !important;
  text-align: left;
  flex-wrap: wrap;
}

.ft-item-1 {
  display: flex;
  height: 100%;
  padding: 2px 14px;
}

.ft-item-1 {
  flex-direction: column;
  flex: 2;
}

.t-top {
  display: flex;
}

.t-top .t-t-l {
  display: flex;
  flex-direction: column;
  flex: 1.4;
  margin-right: 10px;
}

.t-top .t-t-l .bg-ad {
  width: 85%;
  border-radius: 10px;
  padding: 0 10px;
}

.t-top .t-t-r {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ft-links {
  padding: 0 14px;
  list-style: none;
  margin-top: 0 !important;
}

.ft-links li a {
  display: inline-block !important;
  width: 50%;
}
/* 链接悬浮颜色 */
.ft-links li a:hover {
  text-decoration: none !important;
  color: var(--theme-color) !important;
}

.ft-t {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 600;
}

.t-l-t {
  padding-left: 14px;
}

#footer-wrap a {
  border-radius: 30px;
}
#footer-wrap {
  padding: 20px 20px;
}
/* ------- */

/* ------- */
/* 所有页面背景 */
#aside_content .card-widget,
#recent-posts > .recent-post-item,
.layout_page > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
  /* 以下代表透明度为0.5 */
  background: rgba(255, 255, 255, 0.8);
}

:root {
  --trans-light: rgba(255, 255, 255, 0.8);
  --trans-dark: rgba(25, 25, 25, 0.8);
  /*侧边卡片的透明度 */
  --card-bg: rgba(255, 255, 255, 0.8);
}

/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.75);
}

[data-theme='dark'] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme='dark'] #recent-posts > .recent-post-item,
[data-theme='dark'] #aside-content .card-widget,
[data-theme='dark'] div#post,
[data-theme='dark'] div#archive,
[data-theme='dark'] div#page {
  background: var(--trans-dark);
}

/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer,
#footer:before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式页脚页头遮罩透明 */
[data-theme='dark'] #footer::before {
  background: transparent !important;
}
[data-theme='dark'] #page-header::before {
  background: transparent !important;
}
/* ------- */
