/* 自定义字体为JetBrains Mono和XHei */
@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("truetype");
}
@font-face {
  font-family: "XHei";
  font-display: swap;
  src: url("/fonts/XHei.woff2") format("truetype");
}
