/* 修改鼠标指针样式 */
body {
  cursor: url(/illustration/pointer.cur), auto;
}

.hide-block > .hide-button.open,
.hide-inline > .hide-button.open {
  display: block;
}

a,
button,
img {
  cursor: url(/illustration/pointer_link.cur), auto;
}
